@use '../mixins/hover.scss' as *;
@use '../mixins/resposive.scss' as *;

.divider{
    width: 326px;
    height: 1px;
    background-color: var(--divider);
    margin-left: 24px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive(desktop) {
        background-color: transparent;
        }
}
.toggle__container{
    width: 326px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.toggle{
    height: 24px;
    width: 48px;
    border-radius:24px;
    background-color: var(--toggle-bg);
    position: relative;
    &__container{
        width: 326px;
        margin-left: 25px;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive(desktop){
            display: flex;
            flex-direction: row;
            width: 136px;
            height: 24px;
            margin-right: 165px;
            margin-top: 49px;
            @include hover {
                    .toggle {
                        background-color: var(--green-statitics);
                    }
                }
        }
    }
    &::after{
        content: '';
        position: absolute;
        margin: 3px 3px 3px 26px;
        height: 18px;
        width: 18px;
        border-radius: 100px;
        background-color: var(--card-bg);
        
    }
}
.main__subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--gray-subs);
    margin-left: 24px;
    @include responsive(desktop){
        margin-left: 165px;
    }
}