:root {
  --facebook:#178FF5;
  --twitter:#1DA1F2;
  --youtube:#C4032B;
  --instagram: linear-gradient(45deg, #DF4896, #FDC366);
  --black-numbers: #1D1F29;
  --green-statitics:#1EB589;
  --gray-subs:#63687D;
  --error:#DC414C;
  --divider:#848BAB;
  --toggle-bg:#AEB3CB;
  --card-bg:#F1F3FA;
  --header-card-bg:#F7F9FF;
  --hover:#E1E4F0;
}

/* Variables SASS */
